/*sideMenu*/
#sideMenuAdmin{
	position:absolute;
	top:170px;
	margin-left:-30px;
	text-align: center;
}
.col-sm-3{
	min-height: 200px;
}

.col-right{
	float:right;
}

.ui-widget-header { 
	padding: 0.2em;
}
#tabs{
	float:right;
}

div > ul > a {
	display: block;
}

@media screen and (max-width: 860px) {
	#sideMenuAdmin{
		position:relative;
		display:block;
		width: 100%;
		margin:0px;
		margin-bottom:20px;
	}

	.col-sm-9{
		width:100%;
	}

	#divContainer{
		height: 680px;
	}
}