*{
	font-family: 'Times New Roman';
	line-height: normal;
}

body {
	margin-right: 0px;
}

body > div:nth-child(1) {
	width:850px;
	margin:auto;
}

#divcoc {
	position:absolute;
	z-index:-100;
}

#coc {
	position: relative;
	left: 790px;
	top: -100px;
	z-index: -10;
}

.fancyboxGroup{
	margin-top:40px;
}

.fancybox img {
    margin: 0px 8px 7px 5px;
    width:196px;
    height:196px;
    border-radius:5px;
}

.shadow img{
	box-shadow: 0px 1px 1px #ccc;
}

.caption{
	display: block; 
	opacity: 1;
}

a{
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
	text-decoration: none;
}

header{
	height:100px;
	font-size:18px;"
}

nav{
	padding-top:125px;
	float:left;
	color:#333;
}

nav > ul{
	margin-bottom: -10px;
}

nav ul{
	padding: 0px;
	margin-top: -10px;
}

nav ul li{
	display: inline;
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li:hover{
	color: red;
	outline-color: transparent;
	outline-width: 0;
}

nav ul li.ui-state-focus{
	outline-color: transparent;
	color: red;
	outline-width: 0;
}

nav ul > li {
	display: inline;
	float: left;
}

nav ul li a {
	padding-right: 5px;
}

nav > ul > li > a::after { 
	color: #000000;
    content: " | ";
}

nav ul li:last-child a::after { 
    content: "";
}

h1{
	display: inline;
	padding-top:30px;
	float:right;
	font-weight:100;
	font-size:68px;
	z-index:10;
	color:#555;
	margin: 0px;
}

header > h1{
	margin-top: 50px;
}

textarea {
    resize: none;
}

#ombre{
	position:absolute;
	margin-top:-27px;
	z-index:-20;
}

.active{ /*menu*/
	font-weight: bold;
}

.active-image{
	position:absolute;
	margin-top:-90px;
	z-index:-5;
}

.center{
	margin:100px auto 0px auto ;
	text-align:center;
}

/*footer*/
.ligneBox{
	margin-top:50px;
	margin-left:10px;
	color:#333;
	border-top:1px solid #ccc;
	clear:both;
}

#facebookBox{
	float:right;
	padding-top:20px;
	text-align:center;
}

#facebookBox a{
	color:#51639c;
	display:block;
}

#facebookBox a img{
	display:block;
	margin: 0px auto;
}

#contactBox{
	padding-left:10px;
}

#contactBox div:first-child{
	font-size:21px;
	padding-top:20px;
}

#contactBox div:nth-child(2){
	font-size:29px;
	color:#999;
	font-weight:100;
	letter-spacing:0.14em;
	margin-top:10px;
}

#contactBox div:nth-child(2) p{
	margin:2px 0px;
}

#contactBox div:nth-child(2) p:first-child{
	font-size:17px;
}

#contactBox > p{
	font-size:17px;
	color:#999;
	font-weight:100;
	margin:0px;
}

#menuAdmin a{
	float:right;
	font-size:17px;
	font-weight:100;
}

.blankSpace{
	padding-bottom:100px
}

/*Points de vente - tableaux footer*/
.infoRangee{
	padding:50px 20px 50px 10px;
	color:#333;
}

.infoRangee > p{
	border-bottom:1px solid #ccc;
	text-align: center;
  	margin: 20px auto;
  	/* width: 200px; */
}

.infoBox{
	width:250px;
	float:left;
}

.infoBox p{
	font-weight: bold;
	margin:0px;
}

.infoBox small{
	display:block;
}

nav ul li > ul {
	visibility: hidden;
	display: block;
	width: 130px;
	position: absolute;
	z-index: 42;
}

.box-section {
	min-height:60px;
}

.link-section {
	text-align:right;
	margin-bottom:5px;
}

.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	display: none;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/info.png');
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/valid-green.png');
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/attention.png');
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/cancel.png');
}

.news {
	margin-top: 50px;
	margin-bottom: 50px;
}

.newshead {
	margin: 0px;
	border: aliceblue;
	border-style: groove;
	border-radius: 12px;
}

.newstitle {
	display: inline;
	float: left;
}

.newsdate {
	display: inline;
	float: right;
}

.newstexte {
	margin: 0px;
	border: aqua;
	border-style: groove;
	border-radius: 13px;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.text-center{
	text-align: center;
}

.margintop {
	margin-top: 50px;
}

.minimarge {
	margin-top: 20px;
}

@media screen and (max-width: 860px) {

	body {
		background-image: url("../img/cocinellesalpha.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
	}

	body > div:nth-child(1) {
		width: 95%;
		margin: auto;
	}

	.pikachoose-classic {
		display: none;
	}

	#ombre {
		display: none;
	}

	.infoBox {
		clear: both;
		margin-top: 20px;
		text-align: center;
	}

	.infoRangee {
		margin: auto;
		width: 200px;
	}

	.news {
		margin-top: 100px;
	}

	header > h1 {
		position: absolute;
		top: 2px;
		left: 1px;
		margin: 0px;
		padding: 0px;
		margin-top: 0px;
	}

	.active-image {
		display: none;
	}

	#divcoc {
		display: none;
	}

	#coc {
		position: relative;
		left: 790px;
		top: -100px;
		z-index: -10;
	}
}