.fancyboxGroup{
	margin-top:40px;
}

.fancybox img {
    margin: 0px 8px 7px 5px;
    width:196px;
    height:196px;
    border-radius:3px;
}

.shadow img{
	box-shadow: 0px 1px 1px #ccc;
}

.caption{
	display: block; 
	opacity: 1;
}

a{
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
}

header{
	height:100px;
	font-size:18px;"
}

nav{
	padding-top:125px;
	float:left;
	color:#333;"
}

nav ul{
	padding: 0px;
	margin-top: -10px;
}

nav ul li{
	display: inline;
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li a::after { 
	color: #000000;
    content: " | ";
}

nav ul li:last-child a::after { 
    content: "";
}

h1{
	display: inline;
	padding-top:30px;
	float:right;
	font-weight:100;
	font-size:68px;
	z-index:10;
	color:#555;
}

#ombre{
	position:absolute;
	margin-top:-27px;
	z-index:-20;
}

.active{ /*menu*/
	font-weight: bold;
}

.active-image{
	position:absolute;
	margin-top:-90px;
	z-index:-5;
}

.center{
	margin:100px auto 0px auto ;
	text-align:center;
}

/*footer*/
.ligneBox{
	margin-top:50px;
	margin-left:10px;
	color:#333;
	border-top:1px solid #ccc;
	clear:both;
}

#facebookBox{
	float:right;
	padding-top:20px;
	text-align:center;
}

#facebookBox a{
	color:#51639c;
	display:block;
}

#facebookBox a img{
	display:block;
	margin: 0px auto;
}

#contactBox{
	padding-left:10px;
}

#contactBox div:first-child{
	font-size:21px;
	padding-top:20px;
}

#contactBox div:nth-child(2){
	font-size:29px;
	color:#999;
	font-weight:100;
	letter-spacing:0.14em;
	margin-top:10px;
}

#contactBox div:nth-child(2) p{
	margin:2px 0px;
}

#contactBox div:nth-child(2) p:first-child{
	font-size:17px;
}

#contactBox > p{
	font-size:17px;
	color:#999;
	font-weight:100;
	margin:0px;
}

#menuAdmin a{
	float:right;
	font-size:17px;
	font-weight:100;
}

.blankSpace{
	padding-bottom:100px
}

/*Points de vente - tableaux footer*/
.infoRangee{
	padding:50px 20px 50px 10px;
	color:#333;
}

.infoRangee > p{
	border-bottom:1px solid #ccc;
	text-align: center;
  	margin: 20px auto;
  	/* width: 200px; */
}

.infoBox{
	width:250px;
	float:left;
}

.infoBox p{
	font-weight: bold;
	margin:0px;
}

.infoBox small{
	display:block;
}