# Page inexistante
ErrorDocument 404 http://localhost/Web/error/404

# erreur interne
ErrorDocument 500 http://localhost/Web/error/500

# Peut ne pas être nécessaire.
Options +FollowSymlinks
RewriteEngine on

# [L] = break... donc fin de htaccess
RewriteRule ^murales/(.*)$ ./murales.php?query=$1 [L]
RewriteRule ^tableaux/(.*)$ ./tableaux.php?categorie=$1 [L]
RewriteRule ^error/(.*)$ ./error.php?code=$1 [L]
RewriteRule ^news/(.*)$ ./news.php?page=$1 [L]

# Si le nom du fichier + ".php" est un fichier (-f)
RewriteCond  %{REQUEST_FILENAME}.php -f
# Alors, modifié le fichier par fichier.php
RewriteRule ^(.*)$ $1.php